* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  background-color: rgb(71, 103, 207);
}

.navbar li a {
  row-gap: 5px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar li {
  text-decoration: none;
}
.navbar li:hover {
  text-decoration: underline;
}

.container {
  display: flex;

  justify-content: center; /* Centers horizontally */
  align-items: center;
  height: 700px;
  width: 900px;
  margin: 50px auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  opacity: 0.8;
  background-color: rgb(47, 91, 236);
}

.innercontainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
}

.divider {
  flex: 80;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  border: none;
  height: 400px;
}

.form_right {
  right: 0;
  width: 50%;
  text-align: center;
}

.form_right img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  outline: none;
  border: none;
  opacity: 0.8;
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* Prevents tiling of the image */
}

.fa-envelope {
  display: flex;
  text-transform: lowercase;
  margin-top: 10px;
  padding: 10px;
}
.form_left {
  left: 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  width: 100%;
}

input {
  /* margin: 20px 50px; */
  border: none;
  border-bottom: 1px solid black;
  width: 600px;
  padding: 0 40px;
  margin: 10px 10px;
  text-transform: lowercase;
  font-size: large;
}

i.fas {
  margin-right: 10px;
  margin: 0 14px; /* Adds space between the icon and the text */
}

input:focus {
  /* border: none; */
  outline: none;
}

input::placeholder {
  opacity: 0.5; /* Adjust the opacity value (0 to 1) */
  color: gray; /* Optional: Change the color */
  font-style: italic; /* Optional: Add styling */
}

h2 {
  margin-bottom: 50px;
  font-size: xx-large;
}

button {
  padding: 15px 50px;
  font-size: large;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: aqua;
}
.inputs {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin: 10px; */
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 55%;
  text-wrap: wrap;
  transform: translate(-10%, -20%);
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px;
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  animation: showText 0.8s forwards, hideText 0.3s 5s forwards; /* Animations for appearance and disappearance */
  transition: opacity 0.3s ease-in-out;
}

@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
